*, *::after, *::before {
	box-sizing: border-box;
	outline: none!important;
}
iframe, object, embed {
	border: none;
	width: 100%;
}
textarea, input {
	-webkit-appearance: none;
	font-size: 14px;
	padding: 0 15px;
	font-size: 15px;
	&::placeholder {
		color: #b5afa2;
	}
}
img {image-orientation: from-image;}
html, body {
	background-color: #fff;
	max-width: 100%;
	position: relative;
	margin: 0;
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	height: 100%;
}
a, a:hover, a:focus {
	color: inherit;
	transition: all .5s;
	text-decoration: none;
}
a:hover {
	color: #188BEA;
}
// a:hover, button:hover {opacity: 0.7;}
button, button:hover {
	transition: all .5s;
	outline: none;
}
p {margin:0;}

ul {margin:0;padding:0;list-style:none;}
picture {display: block;}
svg {
	display: block;
	width: 100%;
}

.hide {
    display: none;
}

.btn:focus {
	box-shadow: none;
}
.breadcrumb {
	padding: 0 20px;
	font-size: 14px;
}
.link {
	color: #188BEA;
}




// remove
.vertical_ad_remove {
	height: 500px;
	border: 1px solid #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.gorizontal_ad_remove {
	height: 200px;
	border: 1px solid #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 50px;
}