.accordion {
	width: 100%;
	.card {
		margin-bottom: 1.25rem;
		box-shadow: 0 1px 2px rgba(0,0,0,.05);
	}
	.card:first-of-type {
		border: 1px solid rgba(0, 0, 0, 0.125);
	}
	.card-header {
		position: relative;
		&:not([class*=bg-]):not([class*=alpha-]) {
			background-color: transparent;
			padding: 0; 
			border-bottom-width: 0;
		}
		&:not([class*=bg-]):not([class*=alpha-])+*>.card-body:first-child, 
		&:not([class*=bg-]):not([class*=alpha-])+.card-body {
			padding-top: 0;
		}
		.btn {
			background: transparent;
			border: 0;
			cursor: pointer;
			padding: 20px 20px 20px 45px;
			text-align: left;
			width: 100%;
			&:before,
			&:after {
				content: '';
				background-color: #000;
				width: 14px;
				height: 2px;
				position: absolute;
				top: calc(50% - 2px);
				left: 20px;
			}
			&:after {
				display: none;
				transform: rotate(90deg);
			}
			&.collapsed {
				&:after {
					display: block;

				}
			}
		}
	}
}