footer {
	flex: 0 0 auto;
	background-color: #e1e6e8;
	padding: 30px 0 75px;
	.footer-nav {
		display: flex;
		margin-bottom: 15px;
		li {
			margin-right: 15px;
			font-size: 12px;
			a {
				color: #555555;
				&:hover {
					color: #0A6BE2;
				}
			}
		}
	}
	.copyright {
		font-size: 12px;
		color: #555555;
		font-weight: 600;
	}
}