.header {
	padding: 14px 0 12px 0;
	background: #fff;
	position: relative;
	z-index: 9;
	box-shadow: 0 0 3px 0.5px #8e8e8e;
	position: sticky;
	top: 0;
	.header-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.text-holder {
		.title {
			font-weight: 700;
		}
		p {
			color: #555555;
			letter-spacing: -0.1px;
			line-height: 16px;
			padding: 0;
			margin: 0;
		}
	}
}