.home-page {
	display: flex;
	flex-direction: column;
	height: 100%;
	&.main-wrapper {
		background-color: #f2f5f7;
	}
	.logo {
		max-width: 270px;
		margin: 0 auto;
		margin-bottom: 25px;
	}
	.section-hero {
		padding-top: 10em;
		flex: 1 0 auto;
		height: 100vh;
	}
	.main-title {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 10px;
		color: #444444;
	}
	.main-subtitle {
		font-size: 16px;
		color: #444444;
		margin-bottom: 35px;
	}
	.search-form {
		position: relative;
		width: 100%;
		height: 48px;
		max-width: 540px;
		margin: 20px auto;
		.search-wrapper {
			display: flex;
			align-items: center;
			border-radius: 0.25rem;
			background-color: #fff;
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.42);
		}
		input {
			flex: 1 1 auto;
			width: 1%;
			z-index: 4;
			line-height: 48px;
			width: calc(100% - 48px);
			border: none;
			padding-left: 12px;
			padding-right: 50px;
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
			font-size: 20px;
			color: #b5afa2;
			z-index: 9;
		}
		.search-btn {
			padding: 0;
			height: 100%;
			width: 100%;
			max-width: 113px;
			border: none;
			line-height: 2;
			font-size: 24px;
			font-weight: 700;
			cursor: pointer;
			background-color: #ffd001;
			color: #463809;
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}
	}
}

.section-info {
	height: 100vh;
	min-height: 600px;
	display: flex;
	align-items: center;
	&:nth-child(2n+1) {
		.row {
			flex-direction: row-reverse;
		}
	}
	.title {
		margin-bottom: 60px;
	}
	.text-holder {
		p {
			font-size: 18px;
			line-height: 2;
		}
	}
}
.extension-info-section {
	background: #fff;
	padding: 50px 0 30px;
	.extension-title {
		display: flex;
		align-items: center;
		padding: 0 0 16px 0;
	}
	.extension-ico {
		margin-right: 15px;
		img {
			height: 42; 
			width: 42;
		}
	}
	figure {
		margin: 0;
	}
	h6 {
		font-size: 18px;
		line-height: 20px;
		color: #333333;
		font-weight: 700;
		margin: 0;
		letter-spacing: -1px;
	}
	small {
		font-size: 14px;
		line-height: 24px;
		color: #333333;
		font-weight: 400;
		display: block;
		letter-spacing: 0px;
	}
}