.sub-page {
	.main {
		padding: 40px 0 0;
	}
	.content {
		
	}
	.content-card {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 20px;
		margin: 0 0 30px;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
		.card-title {
			width: 100%;
		}
		& > p {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		.card-inner-footer {
			margin-left: -20px;
			margin-right: -20px;
			width: calc(100% + 40px);
			border-top: 1px solid rgba(0, 0, 0, 0.125);
			padding: 20px 20px 0; 
		}
	}
	.modal-link-holder {
		text-align: right;
		width: 100%;
		.modal-link {
			font-weight: 600;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.nav-tabs {
		width: 100%;
		.nav-item {
			.badge {
				margin-left: 5px;
			}
		}
		.nav-link {
			display: flex;
			align-items: center;
			.tab-ico {
				margin: 0 5px 0 0;
				width: 15px;
				img {
					max-width: 100%;
					margin-top: -5px;
				} 
			}
		}
	}
	.tab-content {
		width: 100%;
		.pagination-holder {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 30px 0 0;
		}
		.user-logo {
			background-color: #eee;
			display: inline-block;
			margin-right: 20px;
			vertical-align: middle;
			height: 32px;
			width: 32px;
		}
	}
}

.download-link {
	& > a {
		background: url('../images/download_icon.png') no-repeat 0 4px;
		padding: 0 0 0 31px;
		font-size: 20px;
		line-height: 24px;
		color: #38afd8;
		font-weight: 700;
		display: block;
		margin: 14px 0 37px 0;
	}
}
.supported-list {
	display: flex;
	flex-wrap: wrap;
	li {
		margin: 0 5px 5px 0;
		padding: 0;
		display: block;
		position: relative;
		font-size: 16px;
		line-height: 1.8;
		font-weight: 400;
		letter-spacing: 0;
		a {
			display: inline-block;
			border: solid 2px #fcba2e;
			font-size: 12px;
			line-height: 14px;
			color: #fcba2e;
			font-weight: 700;
			padding: 7px 9px 5px 10px;
			border-radius: 4px;
			text-transform: uppercase;
			&:hover {
				background: #fcba2e;
				color: #fff;
			}
		}
	}
}